<%- include("../partials/header"); -%> <% if (posts.length === 0){ %>
<h3>Nothing to show yet.</h3>
<h4>Compose something new!</h4>
<a href="/posts/compose">Click here</a>
<% } else{ %> <% posts.forEach(function(post){ %>

<h1><%=post.title%></h1>
<%if(post.content.length>100){%>
<p><%=post.content.substring(0, 100) + " ..."%></p>
<%} else {%>
<p><%=post.content%></p>
<%}%>
<p><a href="/posts/<%=post._id%>">View Full Post</a></p>

<% }) %> <% } %>
<a href="/posts/compose"
  ><button class="btn btn-primary" name="button">Compose a New Post</button></a
><br /><br />
<%- include("../partials/footer"); -%>
